// Place all the styles related to the store controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {
  h1 {
    margin: 25px 0;
    font: 20pt sans-serif;
    color: #226;
    border-bottom: 1px solid black;
  }

  .entry {
    overflow: auto;
    min-height: 100px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 15px 0;
  }

  .entry:nth-child(even) {
    background: #9c9;
  }

  img {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    float: left;
  }

  h3 {
    font: 18pt sans-serif;
    color: #227;
    margin: 0;
    display: block;
  }

  p, div.price_line {
    display: inline;
  }

  .price {
    color: #44a;
    font-weight: bold;
  }
}